@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
body{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: black;
    overflow: hidden;
}
svg{
    border-radius: 50%;
}
img{
    width: 200px;
    height: auto;
}
h2{
    margin-left: 20px;
    text-align: center;
    color:#fff;
    font-size:50px;
    font-family: 'Architects Daughter', cursive;
	text-shadow:
	3px 0px 0 rgb(230,230,230),
	3px 1px 0 rgb(215,215,215),
	3px 2px 0 rgb(201,201,201),
	3px 3px 0 rgb(186,186,186),
	3px 4px 0 rgb(172,172,172),
	3px 5px 0 rgb(157,157,157), 
	3px 6px 0 rgb(143,143,143),
	3px 7px 6px rgba(0,0,0,0.35),
	3px 7px 1px rgba(0,0,0,0.5),
	3px 0px 6px rgba(0,0,0,.2),
	3px 4px 10px rgba(0,0,0,1);
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
}
a{
    color: black;
}
/* index */
.wrapperIndex h2{
    margin-top: 100px;
}
.containerPlatform{
    width: 100%;
    height: 850px;
    background: url('../assets/img/manette.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 1500px;
}
.containerPlatform button{
    border: none;
    background: none;
}
.containerPlatform .containerBtn{
    text-align: center;
    margin: 70px 0;
}



/* PLAY XBOX NINTENDO */
/* header */
header{
    display: flex;
    margin: 70px 0 50px 0;
    justify-content: center;
    align-items: center;
}
/* container des boutons des categories */
.containerCategory{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.containerCategory button{
    width: 185px;
    height: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.containerCategory button:hover{
    border: none;
}
/* container des listes des jeux */
.containerList{
    display: grid;
    grid-template-areas: 
    'choice1'
    'choice2'
    'choice3'
    'choice4'
    'choice5';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 900px;
    height: 500px;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
}
.containerList .list{
    display: flex;
    width: 800px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0.185);
    box-shadow: 0 7px 10px 0 rgb(88, 88, 88);
    border-radius: 10px;
}
#choice1{
    grid-area: choice1;
}
#choice2{
    grid-area: choice2;
}
#choice3{
    grid-area: choice3;
}
#choice4{
   grid-area: choice4;
}
#choice5{
    grid-area: choice5;
}
.containerBtnStart{
    width: 100%;
    height: 350px;
    text-align: center;
}
.containerBtnStart button{
    padding: 10px 50px;

}
.btnStart:active{
    margin-top: 7px;
    box-shadow: none;
}
/* modif spécifique  */
/* playstation */
.wrapperPlay .containerBtnStart{
    background-image: url('../assets/img/PlayStation.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 500px;
}
.wrapperPlay .containerBtnStart button{
    color: lightblue;
}
.wrapperPlay .containerCategory button{
    color: lightblue;
}
.wrapperPlay .containerCategory button:hover{
    background-color: lightblue;
    color: black;
}
.wrapperPlay .containerList{
    border: 3px solid lightblue;
    box-shadow: 0 7px 10px 0 rgb(185, 214, 224);
}
/* nintendo */
.wrapperNintendo .containerBtnStart{
    background-image: url('../assets/img/Nintendo.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 500px;
}
.wrapperNintendo .containerBtnStart button{
    color: lightcoral;
}
.wrapperNintendo .containerCategory button{
    color: lightcoral;
}
.wrapperNintendo .containerCategory button:hover{
    background-color: lightcoral;
    color: black;
}
.wrapperNintendo .containerList{
    border: 3px solid lightcoral;
    box-shadow: 0 7px 10px 0 rgb(201, 133, 133);
}
/* xbox */
.wrapperXbox .containerBtnStart{
    background-image: url('../assets/img/Xbox.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 500px;
}
.wrapperXbox .containerBtnStart button{
    color: lightgreen;
}
.wrapperXbox .containerCategory button{
    color: lightgreen;
}
.wrapperXbox .containerCategory button:hover{
    background-color: lightgreen;
    color: black;
}
.wrapperXbox .containerList{
    border: 3px solid lightgreen;
    box-shadow: 0 7px 10px 0 rgb(149, 196, 149);
}

/* footer */
footer{
    text-align: center;
    font-size: 12px;
}


/* MEDIA QUERIES  */
/* index */
@media screen and (max-width:768px){
    .containerPlatform{
        display: grid;
        gap: 20px;
        grid-template-areas: 
        'btnPlaystation'
        'btnNintendo'
        'btnXbox';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerPlatform button{
        display: block;
        border: 1px solid black;
        border-radius: 50%;
        background-color: black;
        width: 200px;
        height: 200px;
    }
    .btnPlay{
        grid-area: btnPlaystation;
    }
    .btnNintendo{
        grid-area: btnNintendo;
    }
    .btnXbox{
        grid-area: btnXbox;
    }
}


/* others pages */
@media screen and (max-width:1024px){
    body{
        overflow: scroll;
    }
   .containerCategory{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'btnShoot'
    'btnAdventure'
    'btnPlateform'
    'btnreflex'
    'btnAll';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .containerCategory button{
        width: 500px;
    }
    .btnShoot{
        grid-area: btnShoot;
    }
    .btnAdventure{
        grid-area: btnAdventure;
    }
    .btnPlatform{
        grid-area: btnPlatform;
    }
    .btnreflex{
        grid-area: btnreflex;
    }
    .btnAll{
        grid-area: btnAll;
    }
    .containerList{
        width: 500px;
    }
    .containerList .list{
        width: 450px;
    }
}

@media screen and (max-width:840px){
    header{
        display: grid;
        gap: 20px;
        grid-template-area:
        'home'
        'title';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    svg{
        grid-area: 'home';
    }
    h2{
        grid-area: 'title';
        font-size: 35px;
    }
}
@media screen and (max-width:576px) {
    h2{
        display: block;
        font-size: 40px;
        margin: 30px;
    }
    .containerCategory button{
        width: 400px;
    }
    .containerList{
        width: 400px;
    }
    .containerList .list{
        width: 350px;
    }
}
@media screen and (max-width:500px) {
    .containerPlatform{
        background: none;
    }
    .containerCategory button{
        width: 300px;
    }
    .containerList{
        width: 300px;
        height: 450px;
        font-size: 14px;
    }
    .containerList .list{
        width: 250px;
        text-align: center;
        padding: 10px 0;
    }
}
@media screen and (max-width:375px) {
    .containerPlatform{
        background: none;
    }
    .containerCategory button{
        width: 300px;
    }
    .containerList{
        width: 300px;
    }
    .containerList .list{
        width: 250px;
    }
}